.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.logo a{
  cursor: pointer;
}

.logoicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.openlines:hover {
  cursor: pointer;
  font-size: large;
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.search {
  position: relative;
  left: 10%;
}

.search input {
  width: 500px;
  padding: .4rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
}

.search button {

  border-radius: 8px;
  border: none;
  color: none;
  margin: .3rem;
  padding: .5rem;
}
.search button:hover{
  cursor: pointer;
}

.fistcategory {
  display: flex;
  width: 20%;
  margin: 2rem 1rem;

}

.fistcategory li {
  padding: .5rem;
  text-decoration: none;
  list-style: none;
  font-style: none;
}

.fistcategory li a {
  text-decoration: none;
  list-style: none;
  font-style: none;
  color: black;
}

.fistcategory li a:hover {
  color: #FF8080;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0px;
  box-shadow: inset 3px 2px 5px 0 rgba(255, 255, 255, .2), rgba(104, 139, 255, 0.2) 7px 3px 10px, rgba(0, 0, 0, 0.1) 7px 5px 10px
}

.category li {
  text-decoration: none;
  list-style: none;
  font-style: none;
}

.category li a {
  color: black;
  text-decoration: none;
  list-style: none;
  font-style: none;
  padding: 0px 3rem;

}

.category li:hover {
  color: #FF8080;
  cursor: pointer;
}

.shoppingcart {
  position: relative;
  left: 70%;

}

.shoppingcart p {
  position: absolute;
  top: -100%;
  left: 102%;
  background-color: #FF8080;
  padding: 4px 8px;
  border-radius: 8px;
}